body {
  font-family: "Lato", sans-serif
}

.mySlides {
  display: none
}
.alert-content-wrapper,.success-content-wrapper{
  position: fixed;
  top: 10px;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 10px);
  padding-right: 50px;
}

.mb-0{
  margin-bottom: 0;
}
.mt-0{
  margin-top: 0;
}
.my-0{
  margin-top: 0;
  margin-bottom: 0;
}
.bg-trans-black{
  background-color: rgba(0,0,0, 0.6);
}
.product-title-cat{
  font-size: 14px;
  height: 42px;
  font-weight: bold;
}
.product-title{
  font-size: 8px;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
  overflow: hidden;
}
.text-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.one-product-wrap{
  position: relative;
  transition: transform .2s; /* Animation */
}
.products-wrapper .w3-section{
  padding-left: 0;
  padding-right: 0;
}

.one-product-wrap:hover{
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
  transform: scale(1.1);
  z-index: 2;
}
.product-img-wrap{
  position: relative;
  height: 200px;
  background-color: #fff;
}
.product-img-wrap img{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.inquiry-btn{
  position: absolute;
  top: -34px;
  left: 0;
}
.extra-product-info{
  position: absolute;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.acf-item .item-key{
  font-weight: bold;
}
.acf-item .item-value{
  font-size: 13px;
}
.extra-product-info .acf-item:not(:last-child){
  border-bottom: 1px solid #ccc;
}

@media (pointer:coarse) {
  .one-product-wrap:hover {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      transform: none;
  }
}
@media (max-width: 767.98px) { 
  #banner{
    height: 160px;
  }
  #factorySlider{
    height: 180px;
  }
  .products-wrapper .w3-section div:nth-child(odd){
    padding-left: 0;
  }
  .products-wrapper .w3-section div:nth-child(even){
    padding-right: 0;
  }
}

