<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="plastic collapsible crates,plastic foldable crate,plastic crate storage, collapsible crates">
  <meta name="description" content="{{description}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">

  {{!-- <link rel="stylesheet" href="assets/css/w3.css"> --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/w3-css/4.1.0/w3.css"
    integrity="sha512-Ef5r/bdKQ7JAmVBbTgivSgg3RM+SLRjwU0cAgySwTSv4+jYcVeDukMp+9lZGWT78T4vCUxgT3g+E8t7uabwRuw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  {{> header }}

  <!-- Page content -->

  <div class="w3-display-container" id="banner" style="margin-top: 60px">
    <img src="/assets/images/all-kinds-of-folding-crates-from-supplier.png" style="width:100%">
      <div class="w3-display-bottommiddle w3-container w3-hide-small">
        <div class="w3-text-center bg-trans-black w3-text-white w3-margin w3-padding">
          <h2>Folding Plastic Crates Manufacturer</h2>
          <p>We have plastic crates factory in China so that we can provide the crates with the best price, we use 100% new PP materials for all our foldable crates</p>
        </div>
        
      </div>
  </div>
  <hr />
  <div class="w3-display-container w3-margin-top w3-center" id="factory">
    <h2>Collapsible Plastic Boxes Factory Show</h2>
    <div>

    </div>
  </div>
  <div class="w3-display-container" id="factorySlider">
        <!-- Automatic Slideshow Images -->
    <div class="mySlides w3-display-container w3-center">
      <img src="/assets/images/automatic-production-of-folding-box.jpg" style="width:100%">
      <div class="w3-display-bottomleft w3-container bg-trans-black w3-text-white w3-padding w3-hide-small">
        <h3>Foldable plastic container production line</h3>
        <p>automatic production line for folding boxes</p>
      </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
      <img src="/assets/images/foldable-plastic-crates-in-warehouse.jpg" style="width:100%">
      <div class="w3-display-bottommiddle w3-container bg-trans-black w3-text-white w3-padding w3-hide-small">
        <h3>Folding Crates Warehouse</h3>
        <p>Collapsible crates inside our warehouse</p>
      </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
      <img src="/assets/images/plastic-machinery-to-product-collapsible-boxes.jpg" style="width:100%">
      <div class="w3-display-bottomright w3-container bg-trans-black w3-text-white w3-padding w3-hide-small">
        <h3>Plastic machinery</h3>
        <p>Plastic machinery to produce foldabe containers</p>
      </div>
    </div>
    <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

  </div>
  <div class="w3-content" style="max-width:2000px;margin-top:46px">

    <!-- The Band Section -->
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
      <h2 class="w3-wide">THE BAND</h2>
      <p class="w3-opacity"><i>We love music</i></p>
      <p class="w3-justify">We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="w3-row w3-padding-32">
        <div class="w3-third">
          <p>Name</p>
          <img src="https://www.w3schools.com/w3images/bandmember.jpg" class="w3-round w3-margin-bottom"
            alt="Random Name" style="width:60%">
        </div>
        <div class="w3-third">
          <p>Name</p>
          <img src="https://www.w3schools.com/w3images/bandmember.jpg" class="w3-round w3-margin-bottom"
            alt="Random Name" style="width:60%">
        </div>
        <div class="w3-third">
          <p>Name</p>
          <img src="https://www.w3schools.com/w3images/bandmember.jpg" class="w3-round" alt="Random Name"
            style="width:60%">
        </div>
      </div>
    </div>

    <!-- The Tour Section -->
    <div class="w3-blue-gray" id="products">
      <div class="w3-container">
        <h2 class="w3-wide w3-center">Folding crates</h2>
        

        <div class="products-wrapper">
          {{> products }}
        </div>
      </div>
    </div>

    <!-- inquiry modal -->
    <div id="inquiryModal" class="w3-modal">
      <div class="w3-modal-content w3-animate-top w3-card-4" style="max-width: 600px;">
        <header class="w3-container w3-blue-gray w3-padding-8">
          <span onclick="closeInquireForm()" class="w3-button w3-blue-gray w3-large w3-display-topright">×</span>
          <h4 class="w3-wide">Inquiry</h4>
        </header>
        <div class="w3-container w3-margin-top">
          <p class="mb-0"><label>Your name</label></p>
          <input class="w3-input w3-border" id="name" type="text" placeholder="Enter name">
          <p class="mb-0"><label>Your email</label></p>
          <input class="w3-input w3-border" id="email" type="email" placeholder="Enter email">
          <p class="mb-0"><label>Product model</label></p>
          <input class="w3-input w3-border" id="product_model" type="text" placeholder="Enter product model">

          <p class="mb-0"><label>Product quantity</label></p>
          <input class="w3-input w3-border" id="product_quantity" type="text" placeholder="Enter product quantity">

          <p class="mb-0"><label>Message</label></p>
          <textarea class="w3-input w3-border" id="message" rows="2"
            placeholder="Tell us more details about your requirements"></textarea>

          <button class="w3-button w3-blue-gray w3-section" id="sendInquiry"> <i id="sendingInquiry" style="display: none;"
              class="fa fa-spinner fa-spin fa-fw"></i> Send</button>
          <button class="w3-button w3-black w3-section w3-right" onclick="closeInquireForm()">Close <i
              class="fa fa-remove"></i></button>
          <p>Email will send to: <a class=""
              href="mailto:inquiry@joinplastic.com?subject=Inquiry about your plastic crate"><span
                class="inquiry-email">inquiry@joinplastic.com</span></a></p>
        </div>
      </div>
    </div>

    <!-- The Contact Section -->
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
      <h2 class="w3-wide w3-center">CONTACT</h2>
      <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom">
          <strong>Emma Zhang</strong><br>
          <i class="fa fa-map-marker" style="width:30px"></i> Shanghai, China<br>
          <i class="fa fa-phone" style="width:30px"></i> Phone: +086 13405661729<br>
          <i class="fa fa-envelope" style="width:30px"> </i> Email: inquiry@joinplastic.com<br>
        </div>
        <div class="w3-col m6">
          <img src="/assets/images/collapsible-crates-salesman.jpg" alt="collapsible crates salesman" class="w3-image">
        </div>
      </div>
    </div>

    <!-- End Page Content -->
  </div>

  <!-- Image of location/map -->
  <img src="https://www.w3schools.com/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%">


  {{> footer}}

  <script src="assets/js/main.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.5.0/dist/lazyload.min.js"></script>
</body>

</html>