<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="plastic collapsible crates,plastic foldable crate,plastic crate storage, collapsible crates">
  <meta name="description" content="{{description}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">

  {{!-- <link rel="stylesheet" href="assets/css/w3.css"> --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/w3-css/4.1.0/w3.css"
    integrity="sha512-Ef5r/bdKQ7JAmVBbTgivSgg3RM+SLRjwU0cAgySwTSv4+jYcVeDukMp+9lZGWT78T4vCUxgT3g+E8t7uabwRuw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  {{> header }}

  <!-- Page content -->

  <div class="w3-display-container" id="banner" style="margin-top: 60px">
    <img src="/assets/images/all-kinds-of-folding-crates-from-supplier.png" style="width:100%">
      <div class="w3-display-bottommiddle w3-container w3-hide-small">
        <div class="w3-text-center bg-trans-black w3-text-white w3-margin w3-padding">
          <h2>Folding Plastic Crates Manufacturer</h2>
          <p>We have plastic crates factory in China so that we can provide the crates with the best price, we use 100% new PP materials for all our foldable crates</p>
        </div>
        
      </div>
  </div>
  <hr />
  <div class="w3-display-container w3-margin-top w3-center" id="factory">
    <h2 class="section-header">Collapsible Plastic Boxes Factory Show</h2>
    <div>

    </div>
  </div>
  <div class="w3-display-container" id="factorySlider">
        <!-- Automatic Slideshow Images -->
    <div class="mySlides w3-display-container w3-center">
      <img src="/assets/images/automatic-production-of-folding-box.jpg" style="width:100%">
      <div class="w3-display-bottomleft w3-container bg-trans-black w3-text-white w3-padding w3-hide-small">
        <h3>Foldable plastic container production line</h3>
        <p>automatic production line for folding boxes</p>
      </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
      <img src="/assets/images/foldable-plastic-crates-in-warehouse.jpg" style="width:100%">
      <div class="w3-display-bottommiddle w3-container bg-trans-black w3-text-white w3-padding w3-hide-small">
        <h3>Folding Crates Warehouse</h3>
        <p>Collapsible crates inside our warehouse</p>
      </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
      <img src="/assets/images/plastic-machinery-to-product-collapsible-boxes.jpg" style="width:100%">
      <div class="w3-display-bottomright w3-container bg-trans-black w3-text-white w3-padding w3-hide-small">
        <h3>Plastic machinery</h3>
        <p>Plastic machinery to produce foldabe containers</p>
      </div>
    </div>
    <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

  </div>
  <div class="w3-content" style="max-width:2000px;margin-top:46px">

    <!-- The Tour Section -->
    <div class="w3-blue-gray" id="products">
      <div class="w3-container">
        <h1 class="w3-wide w3-center">Collapsible crates</h1>
        

        <div class="products-wrapper">
          {{> products }}
        </div>
      </div>
    </div>

    <!-- inquiry modal -->
    <div id="inquiryModal" class="w3-modal">
      <div class="w3-modal-content w3-animate-top w3-card-4" style="max-width: 600px;">
        <header class="w3-container w3-blue-gray w3-padding-8">
          <span onclick="closeInquireForm()" class="w3-button w3-blue-gray w3-large w3-display-topright">×</span>
          <h4 class="w3-wide">Inquiry</h4>
        </header>
        <div class="w3-container w3-margin-top">
          <p class="mb-0"><label>Your name</label></p>
          <input class="w3-input w3-border" id="name" type="text" placeholder="Enter name">
          <p class="mb-0"><label>Your email</label></p>
          <input class="w3-input w3-border" id="email" type="email" placeholder="Enter email">
          <p class="mb-0"><label>Product model</label></p>
          <input class="w3-input w3-border" id="product_model" type="text" placeholder="Enter product model">

          <p class="mb-0"><label>Product quantity</label></p>
          <input class="w3-input w3-border" id="product_quantity" type="text" placeholder="Enter product quantity">

          <p class="mb-0"><label>Message</label></p>
          <textarea class="w3-input w3-border" id="message" rows="2"
            placeholder="Tell us more details about your requirements"></textarea>

          <button class="w3-button w3-blue-gray w3-section" id="sendInquiry"> <i id="sendingInquiry" style="display: none;"
              class="fa fa-spinner fa-spin fa-fw"></i> Send</button>
          <button class="w3-button w3-black w3-section w3-right" onclick="closeInquireForm()">Close <i
              class="fa fa-remove"></i></button>
          {{!-- <p>Email will send to: <a class=""
              href="mailto:inquiry@joinplastic.com?subject=Inquiry about your plastic crate"><span
                class="inquiry-email">inquiry@joinplastic.com</span></a></p> --}}
        </div>
      </div>
    </div>

    <div class="w3-display-container w3-light-grey" id="chooseUs">
      <h3 class="section-header w3-center w3-padding-64 my-0 pb-0">Why Choose Us</h3>
      <p class="w3-center px-8">With over 25 years of expertise in manufacturing plastic folding crate in Warehousing & Logistics industry, We are confident in delivering solutions that exceed your expectations, ensuring trust and satisfaction with every project.</p>
      <div class="w3-container mx-auto" style="max-width: 1200px;">
        <div class="w3-row-padding w3-padding-64 d-flex flex-wrap">
          <div class="w3-third w3-margin-bottom">
            <div class="w3-container w3-card w3-blue-gray w3-margin-bottom h-full hover:bg-slate-600">
              <h4>Quality is trustworthy</h4>
              <p>Quality is an essential attribute of a trustworthy product or service. We consistently delivering high-quality foldable crates or services.</p>
            </div>
          </div>
          <div class="w3-third w3-margin-bottom">
            <div class="w3-container w3-card w3-blue-gray w3-margin-bottom h-full hover:bg-slate-600">
              <h4>Customized services</h4>
              <p>Our experts team will work closely with you to understand your needs of the crates and provide solutions that are tailored to meet your expectations</p>
            </div>
          </div>
          <div class="w3-third w3-margin-bottom">
            <div class="w3-container w3-card w3-blue-gray w3-margin-bottom h-full hover:bg-slate-600">
              <h4>Warranty and after service</h4>
              <p>We are suppliers who keep our promises for our folding containers. Adhering to a responsible attitude, customers will always be our friends.</p>
            </div>
          </div>
          <div class="w3-third w3-margin-bottom">
            <div class="w3-container w3-card w3-blue-gray w3-margin-bottom h-full hover:bg-slate-600">
              <h4>Innovation</h4>
              <p>We are dedicated to improving our collapsible container systems continually, ensuring that the technology we offer is always cutting edge.</p>
            </div>
          </div>
          <div class="w3-third w3-margin-bottom">
            <div class="w3-container w3-card w3-blue-gray w3-margin-bottom h-full hover:bg-slate-600">
              <h4>Experienced team</h4>
              <p>We have many experienced employees in the collapsible storage boxes field, which makes us unique.</p>
            </div>
          </div>
          <div class="w3-third w3-margin-bottom">
            <div class="w3-container w3-card w3-blue-gray w3-margin-bottom h-full hover:bg-slate-600">
              <h4>Our certificate</h4>
              <p>The company has passed ISO9001:2008 quality management system certification, RoHS etc.</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="w3-display-containe w3-blue-gray w3-padding-64" id="applications">
      <h3 class="section-header w3-center w3-padding-64 my-0 pt-0">Plastic Collapsible Bin Applications</h3>
      <div class="w3-container mx-auto" style="max-width: 1200px;">
        <div class="d-flex w3-row-padding flex-wrap">
          <div class="w3-card w3-quarter w3-light-grey">
            <img src="/assets/images/crates-in-dairy.png" alt="crates in dairy" class="w-full">
            <div class="w3-container">
              <h4 class="w3-center">Dairy Industry</h4>
            </div>
          </div>
          <div class="w3-card w3-quarter w3-light-grey">
            <img src="/assets/images/crates-in-Agriculture.png" alt="crates in Agriculture Uses" class="w-full">
            <div class="w3-container">
              <h4 class="w3-center">Agriculture Uses</h4>
            </div>
          </div>
          <div class="w3-card w3-quarter w3-light-grey">
            <img src="/assets/images/crates-in-fishing.png" alt="crates in Fishing Industry" class="w-full">
            <div class="w3-container">
              <h4 class="w3-center">Fishing Industry</h4>
            </div>
          </div>
          <div class="w3-card w3-quarter w3-light-grey">
            <img src="/assets/images/crates-in-Vegetables-Fruits.png" alt="crates in Vegetables & Fruits" class="w-full">
            <div class="w3-container">
              <h4 class="w3-center">Vegetables & Fruits</h4>
            </div>
          </div>
          {{!-- <div class="w3-card w3-padding-32">
            <p>Grocery Store Uses</p>
          </div> --}}
        </div>
        
      </div>
    </div>

    <p class="w3-text-white">The collapsible plastic crates is a good alternative to cardboard boxes, 
      all our plastic foldable boxes are environment firendly and perfect for all your heavy duty storage jobs.
    </p>

    <!-- The Contact Section -->
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
      <h2 class="w3-wide w3-center">CONTACT</h2>
      <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom">
          <i class="fa fa-user" style="width:30px"></i><strong>Emma Zhang</strong><br>
          <i class="fa fa-map-marker" style="width:30px"></i> Shanghai, China<br>
          <a class="w3-button w3-round-xxlarge w3-small w3-red w3-margin-bottom inquiry-btn">Inquiry</a>
          {{!-- <i class="fa fa-phone" style="width:30px"></i> Phone: +086 13405661729<br>
          <i class="fa fa-envelope" style="width:30px"> </i> Email: <a href="mailto:inquiry@joinplastic.com?subject=Inquiry about collapsible crates">inquiry@joinplastic.com</a><br> --}}
        </div>
        <div class="w3-col m6">
          <img src="/assets/images/collapsible-crates-salesman.jpg" alt="collapsible crates salesman" class="w3-image">
        </div>
      </div>
    </div>

    <p class="w3-text-white">
      they are space-saving when folded after used. you can use them to store groceries, or items that are small and tend to fall out of the bags.
      the Heavy Duty Collapsible crate are the most efficient logistic crates on the market, they can handle even your largest and heaviest storage needs and will be a great help when you move.
    </p>

    <!-- End Page Content -->
  </div>

  <!-- Image of location/map -->
  <div class="w3-section">
    <h3 class="w3-center section-header">Packing of collapsible plastic crates</h3>
    <img src="/assets/images/folding-crates-packing-shipping.png" class="w3-image" style="width:100%">
  </div>
  

  {{> footer}}

  <script src="assets/js/main.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.5.0/dist/lazyload.min.js"></script>
</body>

</html>